a.collection(href=("/" + page) data-section=page parameters=number)
    div.collection__wrapper
        img.collection_img(data-section=page, src=("../server/images/" + imgSrc) parameters=number)
    div.collection__description(data-section=page) #{description}
