a.collection(href=("/" + input.page) data-section=input.page)
    div.collection__wrapper
        img.collection_img(data-section=input.page, src=input.img_src)
    div.collection__description(data-section=input.page) #{input.description}
