div.movie_container
    div.movie
        div.movie_image
            a.movie_image(href=movieHref)
                img(src=("../server/images/" + imgHref))
        div.movie_body
            div.movie_info
                div.movie_data
                    div.movie_rating_title
                        a.movie_title(href=movieHref) #{title}
                        div.movie_rating_number #{rating}
                    div.movie_add_info
                    div.movie_add_info #{info}
            div.movie_description #{description}