div.content-wrapper
    div.page
        div.movie-content
            div.poster-and-buttons
                div.poster
                    img.poster__img(src=`../server/images/${poster}`)
                div.trailer.not-route
                    a.trailer__btn.not-route(href=`${trailerHref}`) Смотреть трейлер
                div.movie-collection
                    div.movie-collection__btn.not-route Мне нравится
            div.movie-rating #{rating}
            div.info
                div.movie-title #{title}
                div.movie-original #{originalTitle}
                div.movie-description #{description}
                div.movie-facts
                    div.movie-facts__title О фильме
                    div.movie-facts__fact
                        div.movie-facts__fact__name Год производства
                        div.movie-facts__fact__value #{year}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Страна
                        div.movie-facts__fact__value #{country}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Жанр
                        div.movie-facts__fact__value #{genre}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Слоган
                        div.movie-facts__fact__value #{motto}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Режиссёр
                        div.movie-facts__fact__value #{director}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Бюджет
                        div.movie-facts__fact__value #{budget}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Сборы в мире
                        div.movie-facts__fact__value #{gross}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Длительность
                        div.movie-facts__fact__value #{duration}
                    div.movie-facts__fact
                        div.movie-facts__fact__name Главные роли
                        div.movie-facts__fact__value #{mainCast}
                    
                    