div.content-wrapper
    div.page
        div.movie-content
            div.poster
                img.poster__img(src=`../server/images/${poster}`)
            h1.rating #{rating}
            div.info
                h1.title #{title}
                h5.original #{originalTitle}
                div.description #{description}