div.content-wrapper
    div.page
        div.movie-content
            div.poster
                img.poster__img(src=`../server/images/${poster}`)
            h1.rating #{rating}
            div.info
                div.title #{title}
                div.original #{originalTitle}
                div.description #{description}