- var currClass = login ? "login" : "reg"

.auth-content
    div(class=currClass)
        if login
            div(class=`${currClass}__invitation`) Войти
        else
            div(class=`${currClass}__invitation`) Зарегистрироваться
        form(class=`${currClass}__form` name=authFormName)
            each input in inputs
                div(class=`auth-input ${input.name}`)
                    div(class=`auth-input__head`)
                        label(for=input.name class="auth-input__head__label") #{input.title}
                        div(class=`auth-input__head__error ${input.name}`)
                    input(
                        type=input.type
                        name=input.name
                        id=input.name
                        placeholder=input.placeholder
                        class="text-input"
                    )
            div.auth__btn
                div.auth__btn__error
                input(class=`auth__btn__input` type="button" name=submitButtonName value=auth ? "Войти" : "Создать аккаунт")
        if login
            a(class="auth__invitation" href="/reg") Нет аккаунта? Зарегистрироваться!
        else
            a(class="auth__invitation" href="/login") Уже есть аккаунт? Войти!