.user-block
    a.user-block__profile-href(href=`${profileHref}/${userID}`)
        img.user-block__img(src=imgSrc)
    .user-block__submenu
        a.user-block__profile(href=`${profileHref}/${userID}`) Профиль
        div.user-block__logout-btn.not-route Выйти